{% comment %}
    Renders a divider block on Product and Image with text sections

    Accepts:
    - block: {Object} The block object (required)
    - attributes: {String} Additional attributes (optional)

    Usage:
    {% render 'divider', block: block, attributes: attributes %}
{% endcomment %}

{%- liquid
  assign padding_top = block.settings.padding_top
  assign padding_bottom = block.settings.padding_bottom
  assign mobile_padding_top = block.settings.mobile_padding_top
  assign mobile_padding_bottom = block.settings.mobile_padding_bottom
  assign show_line = block.settings.show_line
  assign attributes = attributes | default: ''

  if padding_top != blank or padding_bottom != blank
    capture block_style
    echo 'style="'
    if padding_top != blank
      echo 'padding-top:' | append: padding_top | append: 'px; '
    endif
    if padding_bottom != blank
      echo 'padding-bottom:' | append: padding_bottom | append: 'px;'
    endif
    echo '"'
    endcapture
  endif

  if modifier != blank
    assign modifier = modifier | append: ' '
  endif
-%}

{% style %}
  @media only screen and (max-width: 750px) {
    .divider-{{ block.id }} {
      margin-top: {{ mobile_padding_top | default: 0 }}px;
      margin-bottom: {{ mobile_padding_bottom | default: 0 }}px;
    }
  }
{% endstyle %}


<div class="{{ modifier }}divider-holder divider-{{ block.id }} rr-false" {{ block_style }} {{ attributes }} {{ block.shopify_attributes }}>
  {%- if show_line -%}
    <hr class="divider">
  {%- endif -%}
</div>