<!-- /sections/section-careers.liquid -->
{%- liquid
    assign bg_color = section.settings.bg_color
    assign text_color = section.settings.color
    assign overlay_color = section.settings.overlay_color
    assign overlay_opacity = section.settings.overlay_opacity | times: 0.01
    assign show_overlay_text = section.settings.show_overlay_text
    assign animation_anchor = '#Custom-HTML--' | append: section.id
    assign full_url = request.host | append: request.path
    assign animation_order = 1
  -%}
  
  {%- style -%}
    #Custom-HTML---{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
  
      {%- unless bg_color == 'rgba(0,0,0,0)' or bg_color == blank -%}
        --bg: {{ bg_color }};
      {%- endunless -%}
  
      {%- unless text_color == 'rgba(0,0,0,0)' or text_color == blank -%}
        --text: {{ text_color }};
      {%- endunless -%}
    }
  {%- endstyle -%}
  
  <div
    class="index-hero wide-image {% if section.settings.limit_width == true %}careers-container {%endif %} {{ section.settings.width }}"
    id="Custom-HTML--{{ section.id }}"
    data-section-id="{{ section.id }}"
    data-section-type="hero"
    data-overlay-header
  >
    {{section.settings.custom_html}}
  </div>
  {% schema %}
  {
    "name": "Custom HTML",
    "class": "section-overlay-header",
    "settings": [
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "wrapper--full",
        "options": [
          { "value": "wrapper--full", "label": "Full width" },
          { "value": "wrapper--full-padded", "label": "Full width padded" },
          { "value": "wrapper--narrow", "label": "Narrow" }
        ]
      },
      {
        "type": "text",
        "id": "custom_html",
        "label": "Custom HTML"

      },
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding top",
        "default": 20
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding bottom",
        "default": 20
      },
      {
        "type": "checkbox",
        "label": "Limit width",
        "id": "limit_width",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Custom HTML",
        "category": "Text"
      }
    ]
  }
  {% endschema %}
  